/* ------------------------------------ IMPORT --------------------------------- */

@import url("https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap");

/* ------------------------------------ DEBUG --------------------------------- */

[debug],
[debug] * {
  outline: solid 1px #9400ff;
  box-shadow: none;
  filter: none;
}

/* ------------------------------------ GLOBAL RULE --------------------------------- */

:root {
  --black: #1e1e1e;
  --white: #ffffff;
  --yellow: #ffcc33;
  --grey-rose: rgba(218, 210, 210, 0.817);
  --light-grey: rgba(122, 114, 114, 0.438);
  --grey: rgb(173, 163, 163);
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  line-height: 1.5;
  color: var(--black);
}

a {
  color: var(--black);
  text-decoration: none;
}

/* ------------------------------------ NAVIGATION --------------------------------- */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 3rem;
  font-family: "Poppins", sans-serif;
  font-size: 1.3vw;
}

.logo {
  font-size: 1.5vw;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}

nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
}

.menu-items {
  margin-right: 20px;
}

.cart-item {
  position: relative;
  display: flex;
}

.count {
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
  background-color: var(--yellow);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  font-size: 0.8vw;
  border-radius: 50%;
}

/* ------------------------------------ HERO --------------------------------- */

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;
  background-image: url("https://www.scandinavia-design.fr/2805137_Accessories_20Collecton_20in-situ_202019_20Filzbach_v_fullbleed_1440x_202.jpg?v=kmnnnw1vpmd0acw1");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main-title {
  color: var(--white);
  font-size: 5.3vw;
  font-weight: bold;
}

/* ------------------------------------ COLLECTION --------------------------------- */

.container-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6rem 8rem;
  font-family: "Poppins", sans-serif;
  height: 0px;
}
.title {
  color: var(--black);
  font-size: 1.5vw;
  font-weight: bold;
  padding: 15px 25px;
  border-radius: 4px;
  background-color: var(--light-grey);
  transform: rotate(-3deg);
}
.title-1 {
  display: flex;
  align-items: center;
  font-size: 1.3vw;
}

.title-1 ion-icon {
  margin-left: 10px;
}

.container-img {
  display: flex;
  overflow-x: scroll;
  margin-left: 50px;
  margin-bottom: 50px;
}
.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80px;
  font-size: 1.2vw;
  margin-top: 10px;
  margin-bottom: 20px;
}
.link-category {
  color: var(--black);
  font-size: 1vw;
  border-bottom: 3px solid var(--light-grey);
}
.slide {
  padding-right: 1.5em;
  width: 500px;
  height: 590px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* ------------------------------------ GALLERY --------------------------------- */

.gallery {
  position: relative;
  padding-bottom: 1rem;
  background-color: var(--grey-rose);
  background-size: cover;
  background-position: center;
}

.bubble {
  position: absolute;
  top: -2rem;
  right: 5rem;
  display: flex;
  flex-direction: column;
  border-radius: 100%;
  background-color: var(--grey);
  padding: 70px 15px;
  align-items: center;
  z-index: 10;
  font-size: 22px;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1440px;
  margin: 0 auto;
}

.product {
  width: 620px;
  height: 620px;
  background-color: var(--white);
  margin: 50px 50px 0px 50px;
}
.product img {
  margin-left: 75px;
  margin-top: 40px;
  transition: transform 2s ease;
}
.product img:hover {
  transform: scale(1.1);
}
.top-bar-product {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
}
h6 {
  font-size: 1vw;
  font-weight: bold;
}
h7 {
  font-size: 0.8vw;
  margin-right: 10px;
}

.gamme-color {
  display: flex;
  align-items: center;
}
.container-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6rem 8rem;
  height: 0px;
}

.button {
  padding: 15px 25px;
  border-radius: 4px black;
  align-items: center;
}

/* ------------------------------------ ABOUT --------------------------------- */

.about {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  background-image: url("https://media.architecturaldigest.com/photos/59ee0a4fce2a2e6477d9a5c7/master/pass/04_Wegner%20room.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 700px;
  height: 700px;
  margin: 5rem;
  padding: 5rem;
  background-color: var(--white);
}

h5 {
  font-weight: bold;
  font-size: 2.3vw;
  padding-bottom: 4rem;
}
p {
  margin-bottom: 30px;
  font-size: 1.5vw;
}

/* ------------------------------------ FOOTER --------------------------------- */

.footer-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30vh;
}
h8 {
  font-size: 1.2vw;
}

.newsletter {
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.email-box {
  border: 2px solid var(--grey-rose);
  font-size: 1vw;
  padding: 0.5rem;
}
.svg-newsletter {
  border: 2px solid var(--grey-rose);
  padding: 0.25rem;
  margin: -2rem;
}

.footer-2 {
  background-color: var(--grey-rose);
  height: 15vh;
}
.footer-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 15vh;
  margin: 0 50px 0 50px;
}

/* ------------------------------------ MEDIA QUERIES --------------------------------- */

/* ----------------- NAVIGATION -------------------- */

@media (max-width: 1024px) {
  header {
    padding: 0.8rem 3rem;
  }
}
@media (max-width: 768px) {
  header {
    padding: 0.6rem 3rem;
  }
}
@media (max-width: 576px) {
  header {
    padding: 0.4rem 2rem;
  }
}
@media (max-width: 320px) {
  header {
    padding: 0.2rem 1.3rem;
  }
}
@media (max-width: 1024px) {
  .cart-item svg {
    width: 25px;
    height: 25px;
  }
  .count {
    font-size: 1vw;
    width: 20px;
    height: 20px;
  }
}
@media (max-width: 768px) {
  .cart-item svg {
    width: 20px;
    height: 20px;
  }
  .count {
    width: 15px;
    height: 15px;
    margin-top: 2px;
    margin-right: 2px;
  }
}
@media (max-width: 576px) {
  .cart-item svg {
    width: 12px;
    height: 12px;
  }
  .count {
    width: 9px;
    height: 9px;
    margin-top: 5px;
    margin-right: 4.3px;
  }
}
@media (max-width: 320px) {
  .cart-item svg {
    width: 8px;
    height: 8px;
  }
  .count {
    width: 5px;
    height: 5px;
    margin-top: 6px;
    margin-right: 4.8px;
  }
}
/* ----------------- HERO -------------------- */

@media (max-width: 1024px) {
  .hero {
    height: 50vh;
  }
}
@media (max-width: 768px) {
  .hero {
    height: 45vh;
  }
}
@media (max-width: 576px) {
  .hero {
    height: 40vh;
  }
}
@media (max-width: 320px) {
  .hero {
    height: 35vh;
  }
}

/* ----------------- COLLECTION -------------------- */

@media (max-width: 1024px) {
  .container-head {
    padding: 5rem 7rem;
    margin-left: -10px;
  }
  .title {
    padding: 10px 22px;
  }
  .title-1 {
    margin-right: -10px;
  }
}

@media (max-width: 768px) {
  .container-head {
    padding: 3.5rem 6rem;
    margin-left: -20px;
  }
  .title {
    padding: 8px 20px;
  }
  .title-1 {
    margin-right: -20px;
  }
}
@media (max-width: 576px) {
  .container-head {
    padding: 2rem 4rem;
    margin-left: -30px;
  }
  .title {
    padding: 6px 18px;
  }
  .title-1 {
    margin-right: -30px;
  }
}
@media (max-width: 320px) {
  .container-head {
    padding: 1.5rem 3rem;
  }
  .title {
    padding: 4px 14px;
  }
}

.slide {
  margin-right: 2.5em;
  width: 500px;
  height: 590px;
}

@media (max-width: 1024px) {
  .slide img {
    width: 350px;
    height: 350px;
  }
  .slide {
    padding-right: 0px;
    margin-right: 0px;
    width: 400px;
    height: 500px;
  }
}
@media (max-width: 768px) {
  .slide img {
    width: 300px;
    height: 300px;
  }
  .slide {
    padding-right: 0px;
    margin-right: 0px;
    width: 350px;
    height: 450px;
  }
  .text {
    margin-bottom: -15px;
  }
}
@media (max-width: 576px) {
  .slide img {
    width: 250px;
    height: 250px;
  }
  .slide {
    padding-right: 0px;
    margin-right: 0px;
    width: 300px;
    height: 350px;
  }
  .text {
    margin-bottom: -5px;
  }
}
@media (max-width: 320px) {
  .slide img {
    width: 200px;
    height: 200px;
  }
  .slide {
    padding-right: 0px;
    margin-right: 0px;
    width: 220px;
    height: 250px;
  }
  .text {
    margin-bottom: -5px;
  }
}

/* ----------------- GALLERY -------------------- */
@media (max-width: 1024px) {
  .product {
    width: 496px;
    height: 496px;
  }
  .product img {
    width: 376px;
    height: 376px;
    margin-left: 60px;
    margin-top: 5px;
  }
  .top-bar-product {
    margin-top: 20px;
  }
}
@media (max-width: 768px) {
  .product {
    width: 397px;
    height: 397px;
  }
  .product img {
    width: 300px;
    height: 300px;
    margin-left: 50px;
    margin-top: 15px;
  }
  .top-bar-product {
    margin-top: 10px;
  }
}
@media (max-width: 576px) {
  .product {
    width: 317px;
    height: 317px;
  }
  .product img {
    width: 240px;
    height: 240px;
    margin-left: 38px;
    margin-top: 5px;
  }
  .top-bar-product {
    margin-top: 0px;
  }
}

@media (max-width: 425px) {
  .product {
    width: 190px;
    height: 190px;
  }
  .product img {
    width: 144px;
    height: 144px;
    margin-left: 23px;
    margin-top: -40px;
  }
  .top-bar-product {
    margin-top: 0px;
  }
}

@media (max-width: 1024px) {
  .bubble {
    border-radius: 100%;
    padding: 70px 30px;
    font-size: 18px;
    margin-right: -20px;
  }
}

@media (max-width: 768px) {
  .bubble {
    border-radius: 100%;
    padding: 50px 26px;
    font-size: 10px;
    margin-right: -20px;
  }
}

@media (max-width: 576px) {
  .bubble {
    border-radius: 100%;
    padding: 40px 20px;
    font-size: 9px;
    margin-right: -40px;
  }
}

@media (max-width: 320px) {
  .bubble {
    border-radius: 100%;
    padding: 30px 10px;
    font-size: 8px;
    margin-right: -60px;
  }
}
@media (max-width: 576px) {
  .container-bottom {
    padding: 2rem 7rem;
  }
}

@media (max-width: 320px) {
  .container-bottom {
    padding: 2rem 6rem;
  }
}

/* ----------------- ABOUT -------------------- */
@media (max-width: 1400px) {
  .box {
    width: 600px;
    height: 600px;
  }
  .about {
    height: 80vh;
  }
}
@media (max-width: 1200px) {
  .box {
    width: 550px;
    height: 550px;
  }
  .about {
    height: 70vh;
  }
}
@media (max-width: 768px) {
  .box {
    width: 450px;
    height: 450px;
  }
  .about {
    height: 60vh;
  }
}
@media (max-width: 576px) {
  .box {
    width: 350px;
    height: 350px;
  }
  .about {
    height: 50vh;
  }
}
@media (max-width: 320px) {
  .box {
    width: 200px;
    height: 200px;
    margin: 2rem;
    padding: 2rem;
  }
  .about {
    height: 30vh;
  }
  h5 {
    padding-bottom: 2rem;
  }
}
