/* -------------------- IMPORT -------------------- */

@import url("https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap");

/* -------------------- DEBUG -------------------- */

[debug],
[debug] * {
  outline: solid 1px #9400ff;
  box-shadow: none;
  filter: none;
}

/* -------------------- GLOBAL RULE -------------------- */

:root {
  --black: #1e1e1e;
  --white: #ffffff;
  --yellow: #ffcc33;
  --grey: rgba(218, 210, 210, 0.817);
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  line-height: 1.5;
  color: var(--black);
}

a {
  color: var(--black);
  text-decoration: none;
}

/* -------------------- NAVIGATION -------------------- */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 3rem;
  font-family: "Poppins", sans-serif;
}

.logo {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}

nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
}

.menu-items {
  margin-right: 20px;
}

.cart-item {
  position: relative;
  display: flex;
}

.count {
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
  background-color: var(--yellow);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  font-size: 16px;
  border-radius: 50%;
}

/* -------------------- HERO -------------------- */

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;
  background-image: url("https://www.scandinavia-design.fr/2805137_Accessories_20Collecton_20in-situ_202019_20Filzbach_v_fullbleed_1440x_202.jpg?v=kmnnnw1vpmd0acw1");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main-title {
  color: var(--white);
  font-size: 5vw;
  font-weight: bold;
}

/* ----------------------------------- COLLECTION ----------------------------- */

.container-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6rem 8rem;
  font-family: "Poppins", sans-serif;
}
.title {
  color: var(--black);
  font-size: 1.5vw;
  font-weight: bold;
  padding: 15px 25px;
  border-radius: 4px;
  background-color: var(--grey);
  transform: rotate(-3deg);
}
.title-1 {
  display: flex;
  align-items: center;
}

.title-1 ion-icon {
  margin-left: 10px;
}

.container-img {
  display: flex;
  overflow-x: scroll;
  margin-left: 50px;
  margin-bottom: 50px;
}
.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80px;
}
.link-category {
  color: var(--black);
  font-size: 1vw;
  border-bottom: 3px solid var(--grey);
}
.slide {
  margin-right: 50px;
  width: 500px;
  flex-shrink: 0;
}
